/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed; }
  a:hover {
    border-bottom-style: dotted; }

*:last-child {
  margin-bottom: 0; }

.wrap {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  padding: 0 20px; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 28.75em) {
  .layout_home .featured {
    width: 57.14286%;
    float: left;
    margin-right: 2.85714%; } }

@media (min-width: 62.5em) {
  .layout_home .featured {
    width: 40%;
    float: left;
    margin-right: 2.85714%; } }

@media (min-width: 28.75em) {
  .layout_home .misc-info {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .layout_home .misc-info .about {
      width: 40%;
      float: right;
      margin-right: 0; }
    .layout_home .misc-info .blog {
      width: 57.14286%;
      float: left;
      margin-right: 2.85714%; } }

@media (min-width: 62.5em) {
  .layout_home .misc-info {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%; }
    .layout_home .misc-info .about {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .layout_home .misc-info .blog-list {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.layout_home .galleries .gallery .print {
  width: 45.45455%;
  float: left; }
  .layout_home .galleries .gallery .print:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .layout_home .galleries .gallery .print:nth-child(2n + 2) {
    margin-left: 54.54545%;
    margin-right: -100%;
    clear: none; }

@media (min-width: 28.75em) {
  .layout_home .galleries {
    width: 40%;
    float: right;
    margin-right: 0; } }

@media (min-width: 62.5em) {
  .layout_home .galleries {
    width: 31.42857%;
    float: right;
    margin-right: 0; } }

@media (min-width: 28.75em) {
  .layout_post .blog-content,
  .layout_blog .blog-content {
    width: 57.14286%;
    float: left;
    margin-right: 2.85714%; }
  .layout_post .blog-related,
  .layout_blog .blog-related {
    width: 31.42857%;
    float: right;
    margin-right: 0; } }

.layout_gallery .gallery .print {
  width: 48.57143%;
  float: left; }
  .layout_gallery .gallery .print:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .layout_gallery .gallery .print:nth-child(2n + 2) {
    margin-left: 51.42857%;
    margin-right: -100%;
    clear: none; }
  @media (min-width: 28.75em) {
    .layout_gallery .gallery .print {
      width: 31.42857%;
      float: left; }
      .layout_gallery .gallery .print:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .layout_gallery .gallery .print:nth-child(3n + 2) {
        margin-left: 34.28571%;
        margin-right: -100%;
        clear: none; }
      .layout_gallery .gallery .print:nth-child(3n + 3) {
        margin-left: 68.57143%;
        margin-right: -100%;
        clear: none; } }
  @media (min-width: 62.5em) {
    .layout_gallery .gallery .print {
      width: 22.85714%;
      float: left; }
      .layout_gallery .gallery .print:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .layout_gallery .gallery .print:nth-child(4n + 2) {
        margin-left: 25.71429%;
        margin-right: -100%;
        clear: none; }
      .layout_gallery .gallery .print:nth-child(4n + 3) {
        margin-left: 51.42857%;
        margin-right: -100%;
        clear: none; }
      .layout_gallery .gallery .print:nth-child(4n + 4) {
        margin-left: 77.14286%;
        margin-right: -100%;
        clear: none; } }

.layout_series .series-gallery .print {
  width: 48.57143%;
  float: left; }
  .layout_series .series-gallery .print:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .layout_series .series-gallery .print:nth-child(2n + 2) {
    margin-left: 51.42857%;
    margin-right: -100%;
    clear: none; }

@media (min-width: 28.75em) {
  .layout_series .series-gallery {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%; }
    .layout_series .series-gallery .print {
      width: 47.82609%;
      float: left; }
      .layout_series .series-gallery .print:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .layout_series .series-gallery .print:nth-child(2n + 2) {
        margin-left: 52.17391%;
        margin-right: -100%;
        clear: none; }
  .layout_series .series-related {
    width: 22.85714%;
    float: right;
    margin-right: 0; } }

.layout_print .print-related .gallery .print {
  width: 48.57143%;
  float: left; }
  .layout_print .print-related .gallery .print:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .layout_print .print-related .gallery .print:nth-child(2n + 2) {
    margin-left: 51.42857%;
    margin-right: -100%;
    clear: none; }

@media (min-width: 28.75em) {
  .layout_print .print-body {
    width: 57.14286%;
    float: left;
    margin-right: 2.85714%; }
  .layout_print .print-related {
    width: 31.42857%;
    float: right;
    margin-right: 0; }
    .layout_print .print-related .gallery .print {
      width: 45.45455%;
      float: left; }
      .layout_print .print-related .gallery .print:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .layout_print .print-related .gallery .print:nth-child(2n + 2) {
        margin-left: 54.54545%;
        margin-right: -100%;
        clear: none; } }

.site-title, .h1, .h2, .button {
  font-family: 'Montserrat', 'Open Sans', arial, sans-serif;
  font-weight: 700; }

.date, .print figcaption, body {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400; }

.date, .print figcaption {
  font-size: 12px;
  font-size: 0.75rem; }

body {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5; }

.site-title {
  color: #003153;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  border-left: 4px dotted #003153;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block; }
  .site-title a {
    border-bottom: none;
    color: inherit; }
  @media (min-width: 28.75em) {
    .site-title {
      font-size: 30px;
      font-size: 1.875rem; } }

.h1, .h2 {
  line-height: 1.2; }
  .h1 a, .h2 a {
    border-bottom: none; }

.h1 {
  font-size: 28px;
  font-size: 1.75rem; }
  @media (min-width: 28.75em) {
    .h1 {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media (min-width: 62.5em) {
    .h1 {
      font-size: 32px;
      font-size: 2rem; } }

.h2 {
  font-size: 22px;
  font-size: 1.375rem; }
  @media (min-width: 28.75em) {
    .h2 {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media (min-width: 62.5em) {
    .h2 {
      font-size: 26px;
      font-size: 1.625rem; } }

.h3 {
  font-size: 18px;
  font-size: 1.125rem; }

.page-footer, .layout_home .featured {
  background-color: #1a1a1a;
  border: none !important;
  color: #fff; }
  .page-footer a, .layout_home .featured a {
    color: #CC7722; }
  .page-footer .button, .layout_home .featured .button {
    background-color: #CC7722;
    color: #000; }

.print, .layout_home .about, .layout_home .galleries .single-print, .layout_print .series-gallery, .about-series {
  border-color: #003153; }
  .print .h1, .layout_home .about .h1, .layout_home .galleries .single-print .h1, .layout_print .series-gallery .h1, .about-series .h1, .print .h2, .layout_home .about .h2, .layout_home .galleries .single-print .h2, .layout_print .series-gallery .h2, .about-series .h2, .print a, .layout_home .about a, .layout_home .galleries .single-print a, .layout_print .series-gallery a, .about-series a {
    color: #003153; }
  .print .button, .layout_home .about .button, .layout_home .galleries .single-print .button, .layout_print .series-gallery .button, .about-series .button {
    background-color: #003153;
    color: #fff; }

.layout_home .blog-list, .layout_home .galleries .series-teaser {
  border-color: #CC7722; }
  .layout_home .blog-list .h1, .layout_home .galleries .series-teaser .h1, .layout_home .blog-list .h2, .layout_home .galleries .series-teaser .h2, .layout_home .blog-list a, .layout_home .galleries .series-teaser a {
    color: #CC7722; }
  .layout_home .blog-list .button, .layout_home .galleries .series-teaser .button {
    background-color: #CC7722;
    color: #fff; }

.button {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  border-bottom: none;
  text-transform: uppercase; }
  .button:hover {
    border-bottom: none; }
  @media (min-width: 62.5em) {
    .button {
      padding: 1px 10px; } }

.gallery {
  margin-bottom: 20px;
  overflow: hidden; }

.print figcaption {
  margin: 0; }

.layout_print .print img {
  border: 10px solid #fafafa; }

.layout_home .featured, .layout_home .about, .layout_home .blog-list, .layout_home .galleries .single-print, .layout_home .galleries .series-teaser, .layout_print .series-gallery, .about-series {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  overflow: hidden;
  padding: 20px 0 25px;
  margin-bottom: 0; }
  .layout_home .featured .h1, .layout_home .about .h1, .layout_home .blog-list .h1, .layout_home .galleries .single-print .h1, .layout_home .galleries .series-teaser .h1, .layout_print .series-gallery .h1, .about-series .h1, .layout_home .featured .h2, .layout_home .about .h2, .layout_home .blog-list .h2, .layout_home .galleries .single-print .h2, .layout_home .galleries .series-teaser .h2, .layout_print .series-gallery .h2, .about-series .h2 {
    margin: 0;
    padding: 0 0 10px 0; }
  .layout_home .featured .image-wrapper, .layout_home .about .image-wrapper, .layout_home .blog-list .image-wrapper, .layout_home .galleries .single-print .image-wrapper, .layout_home .galleries .series-teaser .image-wrapper, .layout_print .series-gallery .image-wrapper, .about-series .image-wrapper {
    overflow: hidden; }

.layout_home .featured {
  padding-left: 20px;
  padding-right: 20px; }

.blog-post {
  margin-bottom: 20px; }
  .blog-post .blog-title {
    margin-bottom: 0.5em; }
  .blog-post .blog-date {
    margin-top: 0; }

.page-header {
  padding: 20px 0; }
  .page-header .wrap {
    position: relative; }

.main-nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 100%; }

.main-nav li {
  display: inline-block;
  margin-right: 1px; }
  .main-nav li:last-child {
    border-right: none; }

.main-nav a {
  background-color: #d9d9d9;
  color: #000; }

@media (min-width: 62.5em) {
  .main-nav {
    position: absolute;
    top: 0;
    right: 0; } }

.page-footer {
  margin-top: 20px;
  padding: 20px 0; }
  .page-footer :first-child {
    margin-top: 0; }

@media (min-width: 28.75em) and (max-width: 62.5em) {
  .layout_home .about {
    border-top: none !important; } }

.layout_print .print-related {
  border-bottom: none;
  border-top-style: dotted;
  border-top-width: 1px; }

@media (min-width: 28.75em) {
  .layout_print .print-related {
    border-top: none; } }
