@import 'modules/utility';

@import 'partials/base';

@import 'partials/grids';
@import 'partials/type';
@import 'partials/media';
@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/gallery';
@import 'partials/print';
@import 'partials/content-block';
@import 'partials/blog';
@import 'partials/page-header';
@import 'partials/page-footer';


//home page
.layout_home {

	.featured {
		@extend %contentBlock;
		//@extend %contentBlockBgColor;
		//@extend %themeBlackBg;
	}
	.about {
		@extend %contentBlock;
		@extend %themePrussianBlue;
		@include breakpoint(pxToEms($bp-main-one) pxToEms($bp-main-two)) {
			border-top: none !important;
		}
	}
	.contact {
		@extend %contentBlock;
		@extend %themeYellowOchre;
	}
	.blog-list {
		@extend %contentBlock;
		@extend %themeYellowOchre;
	}
	.galleries {
		.single-print {
			@extend %contentBlock;
			@extend %themePrussianBlue;
		}
		.series-teaser {
			@extend %contentBlock;
			@extend %themeYellowOchre;
		}
	}
	
}


// print pages
.layout_print {

	.series-gallery {
		@extend %contentBlock;
		@extend %themePrussianBlue;
	}
	.print-related {
		border-bottom: none;
		border-top-style: dotted;
		border-top-width: 1px;
	}
	@include breakpoint(pxToEms($bp-main-one)) {
		.print-related {
			border-top: none;
		}
	}
	.contact {
		@extend %contentBlock;
		@extend %themeYellowOchre;
	}

}

.layout_gallery {
	@extend %themePrussianBlue;
}

.layout_series {
	@extend %themePrussianBlue;
	.contact {
		@extend %contentBlock;
		@extend %themeYellowOchre;
	}
}



// series pages
.about-series {
	@extend %contentBlock;
	@extend %themePrussianBlue;
}













